<div class="container">
  <h1>here are stuff</h1>
  <p><strong>Querstion:</strong> <%= @question %></p>
  <p><strong>Answer:</strong> <%= @answer %></p>
  <%= link_to 'Ask a new question', ask_path %>
</div>